html {
    font-size: 18px;
}

body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.header {
    background: url("back.jpg");
    background-size: 100% 100%;
    width: auto;
    height: 630px;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    position: relative;
}

.header__navbar {
    overflow: hidden;
    background-color: #333;
    padding: 0.6rem;
    position: sticky;
    position: -webkit-sticky;
}

.header__navbar a {
    float: right;
    border-bottom: #f0ad4e 0.1rem solid;
    color: #f2f2f2;
    border-bottom: #333 0.5px solid;
    text-align: center;
    padding: 0.3rem 1.6rem;
    margin: 0.2rem;
    text-decoration: none;
    font-size: 1rem;
}

.header__navbar a:hover {
    border-bottom: #f0ad4e 0.5px solid;
    color: #f0ad4e;
}

.header__navbar a.active {
    font-size: 145%;
    border-bottom: #333 0.5px solid;
    color: #f0ad4e;
    float: left;
}

.header__navicon {
    display: none;
}

.header__content {
    text-align: center;
    margin: 0px;
    padding-top: 7rem;
}

.header__content h1 {
    color: #f0ad4e;
    font-size: 2.5rem;
}

.header__content h3 {
    font-size: 1.8rem;
}

.header__content button {
    color: white;
    padding: 12px;
    font-size: 1rem;
    background-color: #5bc0de;
    border-radius: 1.4rem;
    border-color: #5bc0de;
}

.header__content button:hover {
    padding: 15px;
    border-color: #f0ad4e;
    border-width: 2px;
}


/* 
.container1 {
    padding: 20px;
    background-color: #f1f1f1;
} */

input[type=text],
input[type=submit] {
    width: 100%;
    padding: 12px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

input[type=checkbox] {
    margin-top: 16px;
}

input[type=submit] {
    background-color: #f0ad4e;
    color: white;
    border: none;
}

input[type=submit]:hover {
    opacity: 0.8;
}

.ourservice h1 {
    font-size: 2.5rem;
    text-align: center;
}

.ourservice__text {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 45em
}

.ourservice__column {
    float: left;
    width: 30%;
    padding: 1rem;
    height: 300px;
}

.ourservice__row:after {
    content: "";
    display: table;
    clear: both;
}

.ourservice__imageset {
    text-align: center;
    border-radius: 50%;
    height: 10rem;
    /* width: 10rem; */
}

.imageset {
    margin-top: 3.4rem;
}

.ourservice__column h2,
p {
    text-align: center;
}

.ourservice__wrap a {
    display: none;
}

.ourportfolio h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 5rem;
}

.ourportfolio__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(390px, 1fr));
    grid-gap: 20px;
    align-items: start;
}

.ourportfolio__grid>article {
    border: 1px solid #ccc;
    box-shadow: 2px 2px 6px 0px rgba(0, 0, 0, 0.3);
}

.ourportfolio__grid>article img {
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.ourportfolio__text {
    padding: 0 20px 20px;
}

.ourportfolio__text>button {
    background: gray;
    border: 0;
    color: white;
    padding: 10px;
    width: 100%;
}

.ourteam {
    box-sizing: border-box;
    min-height: 100vh;
    background-color: white;
    float: left;
    width: 100%;
    padding: 100px 15px;
    /* max-width: 1170px;
    margin: auto; */
}

.ourteam__title {
    margin-bottom: 60px
}

.ourteam__title h1 {
    text-align: center;
    /* color: black; */
    text-transform: uppercase;
    font-size: 36px;
    margin: 0;
}

.ourteam__slider {
    border: 1px solid #333333;
    max-width: 600px;
    margin: auto;
    text-align: center;
    padding: 30px;
}

.ourteam__slide {
    display: none;
}

.ourteam__slider .ourteam__active {
    display: block;
    animation: slide 1s ease;
}

@keyframes slide {
    0% {
        opacity: 0;
        transform: translateX(-15px);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}

.ourteam__slider p {
    font-size: 18px;
    /* color: #ffffff; */
    word-spacing: 2px;
}

.ourteam__client h3 {
    font-weight: bold;
    /* color:#fff; */
    font-size: 18px;
    margin: 30px 0 10px;
}

.ourteam__client span {
    display: block;
    font-size: 16px;
    color: #f0ad4e;
}

.ourteam__indicator {
    text-align: center;
    padding-top: 30px;
}

.ourteam__indicator img {
    max-height: 80px;
    max-width: 80px;
    border-radius: 50%;
    display: inline-block;
    margin: 0 8px;
    opacity: 0.2;
    border: 4px solid #f0ad4e;
    cursor: pointer;
    transition: opacity 1s ease;
}

.ourteam__indicator img.ourteam__active {
    opacity: 1;
}

footer {
    background-color: black;
    height: 5rem;
}

footer h5 {
    text-align: center;
    background-color: black;
    font-size: 1.2rem;
    color: blanchedalmond;
    line-height: 2.5rem;
}

.contact {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.4);
    /* Black w/ opacity */
}


/* Modal Content */

.contact__form {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}


/* The Close Button */

.contact__close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.contact__close:hover,
.contact__close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (max-width:1100px) and (min-width:600px) {
    .ourservice__column {
        width: 100%;
    }
    .ourportfolio__grid {
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    }
}

@media screen and (min-width:600px) {
    .sticky {
        position: fixed;
        top: 0;
        width: 100%;
    }
    .sticky+.content {
        padding-top: 60px;
    }
}

@media screen and (max-width: 600px) {
    html {
        font-size: 15px;
    }
    .header__navbar a:not(:first-child) {
        display: none;
    }
    .header__navbar a.header__navicon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .header__navbar.responsive {
        position: relative;
    }
    .header__navbar.responsive .header__navicon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .header__navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
    }
    .ourservice__text {
        width: 20em;
    }
    .ourservice__column {
        width: 100%;
    }
    .ourservice__row {
        width: 350px;
        height: 350px;
        display: block;
        overflow-x: hidden;
        overflow-y: hidden;
        margin: auto;
        width: 60%;
        scroll-snap-type: x mandatory;
    }
    /* .ourservice__slidercent {
        margin: auto;
        width: 60%;
    } */
    .ourservice__slide {
        width: 280%;
        display: inline-block;
        height: 100%;
    }
    #slide-1,
    #slide-3,
    #slide-2 {
        text-align: center;
        width: 75%;
        /* padding-bottom:20px; */
    }
    .ourservice__wrap {
        width: 400px;
        margin: 0 auto;
    }
    .ourservice__wrap a {
        text-align: center;
        margin: auto;
        width: 20%;
        /* height: 80%; */
        display: inline-block;
        border: #f0ad4e 2px solid;
        border-radius: 20%;
        padding: 10px;
        text-decoration: none;
    }
    .ourservice__wrap a:hover {
        text-decoration: none;
        color: palevioletred;
        cursor: -webkit-grab;
        cursor: grab;
    }
    .ourportfolio__grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }
}